extends ./layout.pug
block content
  form(action="/update_profile" method="POST")
    div(class="input")
        label(for="id" style="font-size:bold") Your Own Id
        input(type="text" id="id" name="id" value=myid)
    div(class="input")
        label(for="name" ) Your Name
        input(type="text" id="name" name="name" value=myname)
    div(class="input")
        label(for="phone") Phone
        input(type="text" id="phone" name="phone" value=myphone)
    div(class="input")
        label(for="password") PassWord
        input(type="password" id="password" name="password" value=mypass)
    div
        button(type="submit") Change 
  hr
  form(action="/dashboard" method="POST")
      button(type='submit' class="btn btn-outline-success") Go to the dashBoard

  table(border="1")
        tr  
          th NO. 
          th Name
          th Phone 
          th Password 
        each user, index in newuser
          tr 
            td #{index+1}
            td #{user.name}
            td #{user.phone}
            td #{user.password}