extends ./layout.pug
block content 
    h3  ---- Update Item_Info. ----
    form(action="/update" method="POST")
      div(class="input")
        label(for="id") ID
        input(type="text" id="id" name="id" value=id)
      div(class="input")
        label(for="title") UserName
        input(type="text" id="name" name="name")
      div(class="input")
        label(for="author") ItemName
        input(type="text" id="item" name="item")
      div(class="input")
        label(for="category") Category
        input(type="text" id="cagtegory" name="category")
      div(class="input")
        label(for="price") Price
        input(type="text" id="price" name="price")
      div
        button(type="submit") Update
      hr
      h3 --- Some Comments ---- 
      h1 
        i(class="fas fa-comment")
    form(action="/input_comment" method="POST")
      div(class="input")
        label(for="id") ID
        input(type="text" id="id" name="id" value=id)
      div(class="input")
        h3 Your Name
        input(type="text" id="name" name="name" value=myname)
      div(class="input")
        h3 content
        input(type="textarea" id="content" name="content")
      div
        button(type="submit") Submit

      table(border="1")
        tr  
          th NO.
          th UserName
          th Content
          th Date
        each comment, index in comments
          tr 
            td #{index+1}
            td #{comment.name}
            td #{comment.content}
            td #{comment.date}

    hr
    form(action="/get-data" method="POST")
        button(type='submit' class="btn btn-outline-success") Go to the List
    form(action="/dashboard" method="POST")
        button(type='submit' class="btn btn-outline-success") Go to the dashBoard