extends ./layout2.pug

block content
    .container-fluid.mt-5
        .row.features.mt-5.justify-content-center
            .col-md-8.col-lg-6.feature
                img(src="./asset/ai_singer.png" alt="λ°μ„± μ—°μµ λ° κµμ •" class="img-fluid")
                h2 Result
                p(class="strong-text text-center description")
                    | κ°€μ μμ„± μ μ‚¬λ„: 
                    span(style=`color: ${result.ai_voice_MAE_similarity >= 95 ? 'green' : result.ai_voice_MAE_similarity >= 80 ? 'orange' : 'red'}; font-size: 1.5em`)
                        | #{result.ai_voice_MAE_similarity.toFixed(2)}%
                        
                p(class="strong-text text-center description")
                    strong(style="font-size:20px")
                        | #{result.ai_voice_MAE_similarity.toFixed(2) >= 95 ? 'κ°€μ λ³ΈμΈμ λ©μ†λ¦¬μ…λ‹λ‹¤.' : result.ai_voice_MAE_similarity.toFixed(2) >= 80 ? 'AI ν•©μ„±κ°€λ¥μ„±μ΄ μ΅΄μ¬ν•©λ‹λ‹¤.' : 'μ›λ³Έ κ°€μμ™€ μ „ν€ λ‹¤λ¥Έ λ©μ†λ¦¬μ…λ‹λ‹¤.'}

                #{console.log(result)}
                .row.my-4.justify-content-center
                    table.table.table-bordered.table-striped(style="width: auto;")
                        thead
                            tr
                                th μ μ‚¬λ„
                                th ν‰κ°€ λ“±κΈ‰
                                th μ„¤λ…
                        tbody
                            tr
                                td 95% ~
                                td A
                                td κ°€μ λ³ΈμΈμ λ©μ†λ¦¬μ…λ‹λ‹¤.
                            tr
                                td 80% ~ 94%
                                td B
                                td AI ν•©μ„±κ°€λ¥μ„±μ΄ μ΅΄μ¬ν•©λ‹λ‹¤.
                            tr
                                td ~ 80%
                                td C
                                td μ „ν€ λ‹¤λ¥Έ λ©μ†λ¦¬μ…λ‹λ‹¤.

                h1 AI κ°€μ λ©μ†λ¦¬ νƒμ§€ κ²°κ³Ό λ³΄κ³ μ„
                hr

        .row.mt-4
            .col-12
                h2 π¤ MFCCλ€?
                p(class="strong-text text-center description" style="font-size: 20px")
                    | MFCC(Mel-Frequency Cepstral Coefficients)λ€ μμ„± μ‹ νΈμ λ‹¤μ–‘ν• νΉμ§•μ„ μ¶”μ¶ν•λ” κΈ°λ²•μ…λ‹λ‹¤. 
                    br
                    | μμ„± μ‹ νΈ μ¤ν™νΈλΌμ„ μ‚¬λμ μ²­κ° μΈμ‹ ν¨ν„΄κ³Ό μ μ‚¬ν• μ£Όνμ μ²™λ„μΈ Mel-Frequencyλ΅ λ³€ν™ν• λ’¤, 
                    br
                    | μ¤ν™νΈλΌμ μ£ΌκΈ°μ  ν¨ν„΄μ„ λ¶„μ„ν•μ—¬ μ¶”μ¶ν• 12κ°μ κ³„μλ“¤μ„ μλ―Έν•©λ‹λ‹¤.

        .row.mt-4
            .col-12
                div
                    p 
                        img(src=`fft_spectrum_${result.files_control_id}.png`, alt="MFCC spectrum graph", class="img-fluid")
                    br
                    p
                        h4.text-left 
                            strong MFCC2
                        p.text-left(style="font-size: 20px")
                            | MFCC2 κ³„μλ”
                            strong μ—λ„μ§€κ°€ μ§‘μ¤‘λμ–΄ μλ” μ„μΉ
                            | λ¥Ό μ•λ ¤μ¤λ‹λ‹¤.
                            br
                            | κ³„μ κ°’μ΄ λ†’μ„μλ΅ λ†’μ€ μ£Όνμ λ€μ—­μ— λ” λ§μ€ μ—λ„μ§€κ°€ μ§‘μ¤‘λμ–΄ μμμ„ μλ―Έν•λ©°, λ‚®μ„μλ΅ λ‚®μ€ μ£Όνμ λ€μ—­μ— λ” λ§μ€ μ—λ„μ§€κ°€ λ¶„ν¬ν•κ³  μμμ„ μλ―Έν•©λ‹λ‹¤.
                    p
                        h4.text-left 
                            strong MFCC3
                        p.text-left(style="font-size: 20px")
                            | MFCC3 κ³„μλ” 
                            strong λ°μ νΉμ„±μ„ λ°μν•μ—¬ νΉμ • λ¨μμ λ°μ λ°©μ‹
                            | μ„ ν¬μ°©ν•©λ‹λ‹¤.
                            br
                            | λ†’μ€ κ°’μ„ κ°€μ§μλ΅ νΉμ • λ°μ ν¨ν„΄μ΄ κ°•μ΅°λλ‹¤λ” κ²ƒμ„ μλ―Έν•©λ‹λ‹¤.
                    p
                        h4.text-left 
                            strong MFCC4
                        p.text-left(style="font-size: 20px")
                            | MFCC4 κ³„μλ” 
                            strong μ¤‘κ°„ μ£Όνμ λ€μ—­μ—μ„μ μ£Όνμ λ³€λ™μ„±, μμ„± μ‹ νΈμ λ§¤λ„λ½κ±°λ‚ κ±°μΉ μ •λ„, ν†¤μ λ‹¤μ–‘μ„±
                            | λ“±μ λ³µμ΅μ„± μ •λ³΄λ¥Ό λ°μν•©λ‹λ‹¤.
                            br
                            | λ°ν™”μμ λ°μ μµκ΄€μ„ μΈμ‹ν•λ”λ° λ„μ›€μ΄ λ©λ‹λ‹¤.
                    p
                        h4.text-left 
                            strong MFCC8
                        p.text-left(style="font-size: 20px")
                            | MFCC8 κ³„μλ” 
                            strong κ³ μ£Όνμ λ€μ—­μ—μ„ μ…μ κ³Ό ν€μ μ›€μ§μ„ μ •λ„, λ―Έμ„Έν• λ°μμ λ³€ν™”
                            | μ™€ κ°™μ€ μ„Έλ¶€ λ³€ν™”λ¥Ό ν¬μ°©ν•©λ‹λ‹¤.
                    p
                        h4.text-left 
                            strong MFCC9
                        p.text-left(style="font-size: 20px")
                            | MFCC9 κ³„μλ” 
                            strong 3000hHz μ΄μƒμ κ³ μ£Όνμ λ€μ—­μ—μ„ λ°μμ λλ§Ίμκ³Ό κ°•μ„Έ μ„μΉ
                            | μ— λ€ν• μ •λ³΄λ¥Ό μ κ³µν•©λ‹λ‹¤. 
                            br 
                            | κ°•μ„Έκ°€ μλ” λ¶€λ¶„μ—μ„ κ³ μ£Όν μ„±λ¶„μ΄ λ‘λ“λ¬μ§€κ² λ‚νƒ€λ‚©λ‹λ‹¤.
                    p
                        h4.text-left 
                            strong MFCC11
                        p.text-left(style="font-size: 20px")
                            | MFCC11 κ³„μλ” 
                            strong 4000Hz μ΄μƒμ κ³ μ£Όνμ λ€μ—­μ—μ„ β€γ……β€ μμκ³Ό κ°™μ€ λ¬΄μ„±μμ λλ§Ίμ λ°μ
                            | μ„ λ°μν•©λ‹λ‹¤. 
                            br
                            | νΉν, β€γ…β€, β€γ…‹β€κ³Ό κ°™μ€ λλ§Ίμ μ†λ¦¬μ μ„Έλ°€ν• μ •λ„λ¥Ό λ°μν•©λ‹λ‹¤.
                    br        
                    br
                    p 
                        img(src=`mfcc_bar_graph_${result.files_control_id}.png`, alt="MFCC coefficients average values graph", class="img-fluid" width="900")

        .row.mt-5
            .col-12
                h4.text-center μ›λ³Έ κ°€μ μμ„±κ³Ό λ€μ΅°κµ° MFCC ν‰κ· κ°’ λΉ„κµ
                table.table.table-borderedp(class="strong-text text-center description" style="font-size: 18px")
                    thead.thead-dark
                        tr
                            th MFCC κ³„μ
                            th μ›λ³Έ κ°€μ MFCC ν‰κ· κ°’
                            th μμ‹¬ νμΌ MFCC ν‰κ· κ°’
                            th ν•΄ μ„
                    tbody
                        tr
                            - var isHighlight2 = maxDifferenceIndex === 2 ? 'highlight' : ''
                            td(class=isHighlight2) MFCC2
                            - var value2 = recordAvg && recordAvg[`MFCC${2}`] ? recordAvg[`MFCC${2}`].toFixed(2) : ''
                            td(class=isHighlight2)= value2
                            - var controlValue2 = controlAvg && controlAvg[`MFCC${2}`] ? controlAvg[`MFCC${2}`].toFixed(2) : ''
                            td(class=isHighlight2)= controlValue2
                            - var interpretation2 = ''
                            - if (Math.abs(value2 - controlValue2) < 1) {
                            -     interpretation2 = 'κ±°μ μΌμΉν•¨'
                            - } else if (Math.abs(value2 - controlValue2) >= 1 && Math.abs(value2 - controlValue2) < 2) {
                            -     interpretation2 = 'λ‹¤μ† μ°¨μ΄λ‚¨'
                            - } else {
                            -     interpretation2 = 'λ§μ΄ μ°¨μ΄λ‚¨'
                            - }
                            td(class=isHighlight2)= 'μμ„± μ—λ„μ§€ μ§‘μ¤‘λ„κ°€ ' + interpretation2 
                        tr
                            - var isHighlight3 = maxDifferenceIndex === 3 ? 'highlight' : ''
                            td(class=isHighlight3) MFCC3
                            - var value3 = recordAvg && recordAvg[`MFCC${3}`] ? recordAvg[`MFCC${3}`].toFixed(2) : ''
                            td(class=isHighlight3)= value3
                            - var controlValue3 = controlAvg && controlAvg[`MFCC${3}`] ? controlAvg[`MFCC${3}`].toFixed(2) : ''
                            td(class=isHighlight3)= controlValue3
                            - var interpretation3 = ''
                            - if (Math.abs(value3 - controlValue3) < 1) {
                            -     interpretation3 = 'κ±°μ μΌμΉν•¨'
                            - } else if (Math.abs(value3 - controlValue3) >= 1 && Math.abs(value3 - controlValue3) < 2) {
                            -     interpretation3 = 'λ‹¤μ† μ°¨μ΄λ‚¨'
                            - } else {
                            -     interpretation3 = 'λ§μ΄ μ°¨μ΄λ‚¨'
                            - }
                            td(class=isHighlight3)= 'νΉμ • λ°μ ν¨ν„΄μ κ°•μ΅°λ„κ°€ ' + interpretation3 
                        tr
                            - var isHighlight4 = maxDifferenceIndex === 4 ? 'highlight' : ''
                            td(class=isHighlight4) MFCC4
                            - var value4 = recordAvg && recordAvg[`MFCC${4}`] ? recordAvg[`MFCC${4}`].toFixed(2) : ''
                            td(class=isHighlight4)= value4
                            - var controlValue4 = controlAvg && controlAvg[`MFCC${4}`] ? controlAvg[`MFCC${4}`].toFixed(2) : ''
                            td(class=isHighlight4)= controlValue4
                            - var interpretation4 = ''
                            - if (Math.abs(value4 - controlValue4) < 1) {
                            -     interpretation4 = 'κ±°μ μΌμΉν•¨'
                            - } else if (Math.abs(value4 - controlValue4) >= 1 && Math.abs(value4 - controlValue4) < 2) {
                            -     interpretation4 = 'λ‹¤μ† μ°¨μ΄λ‚¨'
                            - } else {
                            -     interpretation4 = 'λ§μ΄ μ°¨μ΄λ‚¨'
                            - }
                            td(class=isHighlight4)='μ¤‘μ£Όνμ λ€μ—­μ—μ„ μ£Όνμ λ³€λ™μ„±, μμ„±μ μ§κ° μ •λ„κ°€ ' + interpretation4
                               
                        tr
                            - var isHighlight8 = maxDifferenceIndex === 8 ? 'highlight' : ''
                            td(class=isHighlight8) MFCC8
                            - var value8 = recordAvg && recordAvg[`MFCC${8}`] ? recordAvg[`MFCC${8}`].toFixed(2) : ''
                            td(class=isHighlight8)= value8
                            - var controlValue8 = controlAvg && controlAvg[`MFCC${8}`] ? controlAvg[`MFCC${8}`].toFixed(2) : ''
                            td(class=isHighlight8)= controlValue8
                            - var interpretation8 = ''
                            - if (Math.abs(value8 - controlValue8) < 1) {
                            -     interpretation8 = 'κ±°μ μΌμΉν•¨'
                            - } else if (Math.abs(value8 - controlValue8) >= 1 && Math.abs(value8 - controlValue8) < 2) {
                            -     interpretation8 = 'λ‹¤μ† μ°¨μ΄λ‚¨'
                            - } else {
                            -     interpretation8 = 'λ§μ΄ μ°¨μ΄λ‚¨'
                            - }
                            td(class=isHighlight8)= 'κ³ μ£Όνμ λ€μ—­μ—μ„ λ―Έμ„Έν• λ°μ λ³€ν™”κ°€ ' + interpretation8 
                        tr
                            - var isHighlight9 = maxDifferenceIndex === 9 ? 'highlight' : ''
                            td(class=isHighlight9) MFCC9
                            - var value9 = recordAvg && recordAvg[`MFCC${9}`] ? recordAvg[`MFCC${9}`].toFixed(2) : ''
                            td(class=isHighlight9)= value9
                            - var controlValue9 = controlAvg && controlAvg[`MFCC${9}`] ? controlAvg[`MFCC${9}`].toFixed(2) : ''
                            td(class=isHighlight9)= controlValue9
                            - var interpretation9 = ''
                            - if (Math.abs(value9 - controlValue9) < 1) {
                            -     interpretation9 = 'κ±°μ μΌμΉν•¨'
                            - } else if (Math.abs(value9 - controlValue9) >= 1 && Math.abs(value9 - controlValue9) < 2) {
                            -     interpretation9 = 'λ‹¤μ† μ°¨μ΄λ‚¨'
                            - } else {
                            -     interpretation9 = 'λ§μ΄ μ°¨μ΄λ‚¨'
                            - }
                            td(class=isHighlight9)= 'κ³ μ£Όνμ λ€μ—­μ—μ„ κ°•μ„Έ μ„μΉκ°€ ' + interpretation9 
                        tr
                            - var isHighlight11 = maxDifferenceIndex === 11 ? 'highlight' : ''
                            td(class=isHighlight11) MFCC11
                            - var value11 = recordAvg && recordAvg[`MFCC${11}`] ? recordAvg[`MFCC${11}`].toFixed(2) : ''
                            td(class=isHighlight11)= value11
                            - var controlValue11 = controlAvg && controlAvg[`MFCC${11}`] ? controlAvg[`MFCC${11}`].toFixed(2) : ''
                            td(class=isHighlight11)= controlValue11
                            - var interpretation11 = ''
                            - if (Math.abs(value11 - controlValue11) < 1) {
                            -     interpretation11 = 'κ±°μ μΌμΉν•¨'
                            - } else if (Math.abs(value11 - controlValue11) >= 1 && Math.abs(value11 - controlValue11) < 2) {
                            -     interpretation11 = 'λ‹¤μ† μ°¨μ΄λ‚¨'
                            - } else {
                            -     interpretatio11 = 'λ§μ΄ μ°¨μ΄λ‚¨'
                            - }
                            td(class=isHighlight11)= 'κ³ μ£Όνμ λ€μ—­μ—μ„ λλ§Ίμ λ°μμ΄ ' + interpretation11

        .row.mt-4
            .col-12.text-center
                form(action="/result_ai_singer" method="GET")
                    button(type='submit' class="btn btn-outline-success btn-black") μ΄μ „ ν™”λ©΄ κ°€κΈ°
                br
                form(action="/dashboard_ai_singer" method="GET")
                    button(type='submit' class="btn btn-outline-success btn-black") λ€μ‹λ³΄λ“λ΅ λμ•„κ°€κΈ°


    footer
        p Β© Created By Park Sohee | Lee Keejung | Lee Seungjay
        .footer-links
            a(href="https://github.com", target="_blank") GitHub
            a(href="https://linkedin.com", target="_blank") LinkedIn
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")