//pdf_announcer
extends ./layout2.pug

block content
    .container-fluid.mt-5
        .row.features.mt-5.justify-content-center
            .col-md-8.col-lg-6.feature
                img(src="./asset/announce.png" alt="발성 연습 및 교정" class="img-fluid")
                h2 Result
                p(class="strong-text text-center description")
                    | 스피치 유사도: 
                    span(style=`color: ${result.announcer_MAE_similarity >= 95 ? 'green' : result.announcer_MAE_similarity >= 80 ? 'orange' : 'red'}; font-size: 1.5em`)
                        | #{result.announcer_MAE_similarity.toFixed(2)}%

                p(class="strong-text text-center description") 
                    strong(style="font-size:20px")
                       | #{result.announcer_MAE_similarity >= 95 ? '발음 정확도와 억양 조절이 매우 뛰어납니다. 청취자에게 강한 신뢰감을 제공합니다.' : result.announcer_MAE_similarity >= 80 ? '전달력과 표현력이 양호합니다. 다소 개선이 필요할 수 있습니다.' : '발음과 억양이 미흡합니다. 연습과 교정이 필요합니다.'}

                .row.my-4.justify-content-center
                    table.table.table-bordered.table-striped(style="width: auto;")
                        thead
                            tr
                                th 유사도
                                th 평가
                                th 설명
                        tbody
                            tr
                                td 95% ~
                                td 우수
                                td 발음 정확도와 억양 조절이 매우 뛰어납니다. 청취자에게 강한 신뢰감을 제공합니다.
                            tr
                                td 80% ~ 94%
                                td 양호
                                td 전달력과 표현력이 양호합니다. 다소 개선이 필요할 수 있습니다.
                            tr
                                td ~ 75%
                                td 미흡
                                td 발음과 억양이 미흡합니다. 연습과 교정이 필요합니다.

                h2 🎤 MFCC란?
                p(class="strong-text text-center description" style="font-size: 20px")
                    | MFCC(Mel-Frequency Cepstral Coefficients)란 음성 신호의 다양한 특징을 추출하는 기법입니다. 
                    br
                    | 음성 신호 스펙트럼을 사람의 청각 인식 패턴과 유사한 주파수 척도인 Mel-Frequency로 변환한 뒤, 
                    br
                    | 스펙트럼의 주기적 패턴을 분석하여 추출한 12개의 계수들을 의미합니다.

                hr
                
                p(class="description-left bold-text" style="font-size: 20px;")
                    | MFCC2: 음성 스펙트럼 - 
                    span(style=`color: ${result.mfcc_acc_list[0] >= 95 ? 'green' : result.mfcc_acc_list[0] >= 80 ? 'orange' : 'red'}; font-size: 18px;`)
                        | #{result.mfcc_acc_list[0].toFixed(2)}%

                p(class="description-left" style="font-size: 18px;")
                    span(class="bold-text indent-text") 설명: 
                    span 음성의 높이 변화를 포착하고 발화자 특징을 유추하는데 유용합니다.
                    br
                    span(class="indent-text") 
                    | 사용자가 말하는 동안 바람직한 음성의 피치(높낮이) 변화가 이루어집니다.   
                    br
                    span(class="indent-text") 
                    | 사용자는 정확한 억양을 유지하고 있으며, 발음의 양상이 일관적입니다.

                p(class="description-left bold-text" style="font-size: 20px;")
                    | MFCC3: 특정 발음 특성 - 
                    span(style=`color: ${result.mfcc_acc_list[1] >= 95 ? 'green' : result.mfcc_acc_list[1] >= 80 ? 'orange' : 'red'};`)
                        | #{result.mfcc_acc_list[1].toFixed(2)}%

                p(class="description-left" style="font-size: 18px;")
                    span(class="bold-text indent-text") 설명: 
                    span 음성의 특정 발음 특성을 반영하여 특정 모음의 발음 방식을 포착합니다.
                    br
                    span(class="indent-text") 발음의 정확성이 낮은 편입니다. 사용자의 모음 발음 방식 및 언어의 변형이 원활히 이루어지지 않아 
                    br
                    span(class="indent-text") 보다 명확한 발음이 요구됩니다.

                p(class="description-left bold-text" style="font-size: 20px;")
                    | MFCC5: 중주파수 범위의 세부 특성 – 
                    span(style=`color: ${result.mfcc_acc_list[2] >= 95 ? 'green' : result.mfcc_acc_list[2] >= 80 ? 'orange' : 'red'};`)
                        | #{result.mfcc_acc_list[2].toFixed(2)}%

                p(class="description-left" style="font-size: 18px;")
                    span(class="bold-text indent-text") 설명: 
                    span 중주파수 범위에서의 발음, 감정 등의 세부적인 특성을 잡아냅니다.
                    br
                    span(class="indent-text") ‘ㄷ’, ‘ㅜ’ 등 특정 음소의 발음 전달이 우수한 편입니다. 
                    br
                    span(class="indent-text") 기쁨, 슬픔 등의 감정이 발화에 반영되지 않으며, 사용자가 미세한 주파수 변화를 우수하게 통제하고 
                    br
                    span(class="indent-text") 명확한 발음을 구사하고 있음을 알 수 있습니다.

                p(class="description-left bold-text" style="font-size: 20px;")
                    | MFCC6: 발음의 연결 및 음절 간의 변화 - 
                    span(style=`color: ${result.mfcc_acc_list[3] >= 95 ? 'green' : result.mfcc_acc_list[3] >= 80 ? 'orange' : 'red'};`)
                        | #{result.mfcc_acc_list[3].toFixed(2)}%

                p(class="description-left" style="font-size: 18px;")
                    span(class="bold-text indent-text") 설명: 
                    span 음성 신호에서 더 미세한 세부사항을 포착하며, 주로 발음의 연결이나 음절 간의 변화를 나타냅니다.
                    br
                    span(class="indent-text") 연속된 발음 사이의 연결성이 낮습니다. 
                    br
                    span(class="indent-text") 사용자의 말이 끊기지 않고 자연스럽게 이어질 필요가 있습니다. 이는 말의 유창성이 부족하다는 것을 의미합니다.

                p(class="description-left bold-text" style="font-size: 20px;")
                    | MFCC8: 고주파수 대역의 변화를 반영 - 
                    span(style=`color: ${result.mfcc_acc_list[4] >= 95 ? 'green' : result.mfcc_acc_list[4] >= 80 ? 'orange' : 'red'};`)
                        | #{result.mfcc_acc_list[4].toFixed(2)}%

                p(class="description-left" style="font-size: 18px;")
                    span(class="bold-text indent-text") 설명: 
                    span 고주파수 대역에서의 세부 변화를 반영하여 발음 속도를 유추합니다.
                    br
                    span(class="indent-text") 사용자의 발음 속도가 적당한 편입니다. 혀의 움직임이 준수하며, 빠르고 명확한 발음을 문제없이 구사합니다. 
                    br 
                    span(class="indent-text") 뉴스 속보와 같이 빠른 발음을 요구하는 상황에 적합합니다.

    .container-fluid.mt-5
        .row.features.mt-5.justify-content-center
            .col-md-8.col-lg-6.feature
                h3(class="text-left font-weight-normal") 📎 요약
                p(class="description-left")
                
                table.table.table-bordered(style="font-size: 20px;")
                    thead.thead-dark
                        tr
                            th 항목
                            th 고칠 사항
                    tbody
                        tr  
                            td 우수
                            td.text-left !{excellent.length ? excellent.join('<br>') : '없음'}
                        tr
                            td 양호
                            td.text-left !{good.length ? good.join('<br>') : '없음'}
                        tr(style="color: red;")
                            td 
                              strong 미흡
                            td.text-left 
                              strong !{poor.length ? poor.join('<br>') : '없음'}
                br
                hr
                #{console.log(poor_mfccs)}
                
                h3(class="text-left") ✏️ 개선 연습
                p(class="description-left bold-text ", style = `${!poor_mfccs.includes("mfcc2") ? "display:none " : "font-size:22px"}`) ✅ 피치 조절 연습
                    br
                    span(style="text-align: left; font-size:17px")
                        span(class="bold-text") 목적:
                        span(class="font-weight-normal") 음성의 피치 변화를 규칙적으로 만들고, 억양을 일관되게 유지하여 명확한 발음을 함.
                        br
                        span(class="bold-text") 연습 방법
                        br
                        span(class="indent-text font-weight-normal") • 피치 글라이드 연습: 피치를 높였다가 낮추는 연습을 반복적으로 합니다. 예를 들어, "ah" 소리를 낮은 음에서 높은 음으로 천천히 올리고, 다시 낮추는 연습을 합니다.
                        br
                        span(class="indent-text font-weight-normal") • 피치 매칭 게임: 피아노나 튜너 앱을 사용하여 주어진 피치를 맞추는 연습을 합니다. 다양한 피치에 맞춰 목소리를 조절하며 일관된 억양을 유지합니다.
                        br
                        span(class="indent-text font-weight-normal") • 억양 패턴 연습: 다양한 문장에 대해 억양 패턴을 연습합니다. 예를 들어, "오늘은 날씨가 좋다."를 여러 가지 억양으로 연습해 보며, 가장 자연스러운 억양을 찾습니다.
                    br
                    br
                    span(class="bold-text" style="text-align: left; font-size:20px") 사용자의 피치 변화가 불규칙하거나 부자연스럽습니다. 억양이 일정하지 않으며, 발음의 명확성이 떨어져 듣는 사람이 이해하기 어렵습니다.
                br  
                br
                p(class="description-left bold-text", style = `${!poor_mfccs.includes("mfcc3") ? "display:none" : "font-size:22px"}`) ✅ 모음 발음 연습
                    br
                    span(style="text-align: left;font-size:17px")
                        br
                        span(class="bold-text") 목적: 
                        span(class="font-weight-normal") 모음 발음 방식을 개선하여 명확한 발음을 할 수 있도록 함.
                        br
                        span(class="bold-text") 연습 방법
                        br
                        span(class="indent-text font-weight-normal") • 모음 사운드 카드: 각 모음(A, E, I, O, U)의 사운드를 적은 카드를 사용하여 각 모음을 반복적으로 발음합니다.
                        br
                        span(class="indent-text font-weight-normal") • 입 모양과 혀 위치 연습: 거울을 보며 올바른 입 모양과 혀 위치를 확인하고 연습합니다. 예를 들어, "A"는 입을 넓게 벌리고, "E"는 입을 양옆으로 벌리는 형태로 연습합니다.
                        br
                        span(class="indent-text font-weight-normal") • 단어와 문장: 모음이 포함된 단어와 문장을 반복적으로 발음합니다. 예를 들어, "애플", "오렌지", "새우로얄뉴료얄" 등의 단어를 연습할 수 있습니다.
                    br
                    br
                    span(class="bold-text" style="text-align: left; font-size:20px") 사용자는 발음의 정확성이 낮은 편입니다. 사용자의 모음 발음 방식 및 언어의 변형이 원활히 이루어지지 않아 보다 명확한 발음이 요구됩니다.
                br  
                br
                p(class="description-left bold-text", style = `${!poor_mfccs.includes("mfcc5") ? "display:none" : "font-size:22px"}`) ✅ 감정 표현 연습
                    br
                    span(style="text-align: left; font-size:17px")
                        span(class="bold-text") 목적: 
                        br
                        span(class="font-weight-normal") 발음의 세부 특성을 명확하게 하고, 감정을 풍부하게 표현할 수 있도록 함.
                        br
                        span(class="bold-text") 연습 방법:
                        br
                        span(class="indent-text font-weight-normal") • 감정 단어 카드: 다양한 감정을 나타내는 단어를 카드에 적고, 각 단어를 해당 감정에 맞게 발음합니다. 
                        br
                        span(class="indent-text font-weight-normal") 예를 들어, "기쁨", "슬픔", "놀람" 등을 적절한 감정으로 표현하며 발음합니다.
                        br
                        span(class="indent-text font-weight-normal") • 중주파수 발음 연습: 중주파수 대역의 발음을 개선하기 위해 "ㅁ", "ㅂ", "ㅈ" 등의 음소를 포함한 단어를 
                        br
                        span(class="indent-text font-weight-normal") 반복적으로 발음합니다. 예를 들어, "마법", "밥상", "자전거" 등을 연습합니다.
                        br
                        span(class="indent-text font-weight-normal") • 감정 표현 연기: 다양한 감정을 표현하는 짧은 문장을 연기해 보며, 감정에 따라 목소리의 톤과 억양을 조절합니다. 
                        br
                        span(class="indent-text font-weight-normal") 예를 들어, "난 정말 기뻐!"를 기쁨에 찬 목소리로 연기해 봅니다.
                    br
                    br
                    span(class="bold-text" style="text-align: left; font-size:20px") 중주파수 범위에서의 발음이 불명확하고, 감정 표현이 부족합니다. 세부적인 발음 특성이 제대로 전달되지 않아 발화의 명확성이 떨어집니다.
                p(class="description-left bold-text", style = `${!poor_mfccs.includes("mfcc6") ? "display:none" :"font-size:22px"}`) ✅ 발음 유창성 연습
                    br
                    span(style="text-align: left; font-size:17px")
                        br
                        span(class="bold-text") 목적: 
                        span(class="font-weight-normal") 발음의 자연스러운 연결성을 향상시켜 말이 끊기지 않고 자연스럽게 이어지도록 함.
                        br
                        span(class="bold-text") 연습 방법
                        br
                        span(class="indent-text font-weight-normal") • 짧은 문장 연습: 짧은 문장을 반복적으로 읽고, 각 단어 사이의 연결을 자연스럽게 만듭니다. 예를 들어, "She sells sea shells by the sea shore." 등의 문장을 연습할 수 있습니다.
                        br  
                        span(class="indent-text font-weight-normal") • 음절 연결 연습: 각 음절을 분리해서 발음한 후, 점차 음절을 연결하여 하나의 단어로 발음합니다. 예를 들어, "흑-단-풍-잎"을 "흑단풍잎"으로 자연스럽게 발음합니다.
                        br
                        span(class="indent-text font-weight-normal") • 속도와 리듬: 다양한 속도로 문장을 읽어보며 리듬을 맞추는 연습을 합니다. 속도를 높이거나 낮추면서 자연스럽게 이어질 수 있도록 합니다.
                    br
                    br
                    span(class="bold-text" style="text-align: left; font-size:20px") 사용자는 연속된 발음 사이의 연결성이 낮습니다. 말이 끊기지 않고 자연스럽게 이어질 필요가 있습니다. 이는 말의 유창성이 부족하다는 것을 의미합니다.
                br  
                br
                p(class="description-left bold-text", style = `${!poor_mfccs.includes("mfcc8") ? "display:none" : "font-size:22px"}`) ✅ 발음 속도 조절 연습
                    br
                    span(style="text-align: left; font-size:17px")
                        span(class="bold-text") 목적: 
                        span 발음 속도를 적절하게 조절하여 명확하고 자연스러운 발화를 함.
                        br
                        span(class="bold-text") 연습 방법:
                        br
                        span(class="indent-text font-weight-normal") • 메트로놈 연습: 메트로놈을 사용하여 일정한 속도로 문장을 읽습니다. 메트로놈의 속도를 점차 빠르게 또는 느리게 조절하면서 발음의 명확성을 유지합니다.
                        br
                        span(class="indent-text font-weight-normal") • 속도 조절 연습: 같은 문장을 다양한 속도로 반복하여 읽어봅니다. 예를 들어, "오늘 날씨가 참 좋습니다."를 천천히, 보통 속도로, 빠르게 읽어보며 각각의 속도에서 발음의 명확성을 유지합니다.
                        br
                        span(class="indent-text font-weight-normal") • 속도 변환 게임: 친구나 동료와 함께 속도 변환 게임을 합니다. 한 사람이 문장을 빠르게 읽으면, 다른 사람이 그 문장을 천천히 읽고, 다시 역할을 바꿔 연습합니다.
                    br
                    br
                    span(class="bold-text" style="text-align: left; font-size:20px") 사용자의 발음 속도가 너무 빠르거나 느려서 이해하기 어렵습니다. 고주파수 대역의 세부 변화가 제대로 반영되지 않아 발음의 명확성이 떨어집니다.

        .footer.mt-5
            div © Created By Park Sohee | Lee Keejung | Lee Seungjay
            a(href="https://www.linkedin.com")
                img(src="./asset/linkedin.png" alt="LinkedIn" class="img-fluid")