extends ./layout.pug
block content
    div(class='container')
        div(class="row mt-5")
            div(class="col-md-6 m-auto")
                div(class="card card-body")
                    h1(class="text-center mb-3")
                        i(class="fas fa-user-plus")  Register
                    if errors
                        each error in errors
                            div(class="alert alert-warning alert-dismissible fade show" role="alert")= error.msg
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true") &times;
                    form(action="/users/register" method="POST")
                        div(class="form-group")
                            label(for="name") Name
                            input(type="name" id="name" name="name" class="form-control" placeholder="Enter Name" required value=name)
                        div(class="form-group")
                            label(for="email") Email
                            input(type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required value=email)
                        div(class="form-group")
                            label(for="password") Password
                            input(type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required value=password)
                        div(class="form-group")
                            label(for="password2") Confirm Password
                            input(type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" required value=password2)
                        button(type='submit' class="btn btn-primary btn-block") Register
                    p(class="lead mt-4") Have An Account? 
                        a(href='/users/login') Login