extends ./layout.pug

block content
    div(class='container')
        div(class="row mt-5")
            div(class="col-md-6 m-auto text-center")
                h1(class="mt-4 text-center") 결과 보고서

                div(class="card card-body text-center")
                    p 음성 유사도: #{result.MAE_similarity} 검사 날짜: #{result.timestamp.toLocaleDateString()}
                    img(src=`train_acc_loss_${result.files_control_id}.png`, alt="Train accuracy and loss graph")
                    img(src=`clustering_label_${result.files_control_id}.png`, alt="Clustering graph")
                    img(src=`mfcc_spectrum_graph_${result.files_control_id}.png`, alt="Spectrogram of recorded and live speech")
                    img(src=`mfcc_bar_graph_${result.files_control_id}.png`, alt="MFCC coefficients average values graph")
                div 결과: #{result.live_data_prediction} (라이브 데이터), #{result.record_data_prediction} (녹음 데이터)
    br
    form(action="/dashboard" method="GET")
        button(type='submit' class="btn btn-outline-success") Back to the Dashboard
