extends ./layout2.pug

block content
    .container
      .row.mt-5
        .col-12.text-center
          h1 음성 위변조 탐지

      .row.mt-4
        .col-12
          img(src=`clustering_label_${result.files_control_id}.png`, alt="Clustering graph", class="image-small mx-auto d-block")
          p(class="strong-text text-center") AI모델 학습 전 실시간/녹취록 음성에서 추출한 MFCC 계수들을 2차원 좌표평면에 나타내고 분포에 따라 레이블을 부여한 결과입니다.
          hr

          img(src=`train_acc_loss_${result.files_control_id}.png`, alt="Train accuracy and loss graph", class="img-fluid")
          p(class="strong-text text-center") 훈련 횟수에 따른 모델의 오차율과 훈련 정확도를 보여줍니다.
          hr
                              
          img(src=`fft_spectrum_${result.files_control_id}.png`, alt="MFCC spectrum graph", class="img-fluid")
          p(class="strong-text text-center") 실시간 음성과 녹취록의 주파수 대역별 데시벨을 비교한 그래프입니다. 
          hr
                              
          img(src=`mfcc_spectrum_graph_${result.files_control_id}.png`, alt="Spectrogram of recorded and live speech", class="img-fluid")
          p(class="strong-text text-center") 각 프레임에 따른 MFCC 계수값들의 세기를 색깔로 표현한 스펙트럼입니다.

          img(src=`mfcc_bar_graph_${result.files_control_id}.png`, alt="MFCC coefficients average values graph", class="img-fluid")
          p(class="strong-text text-center") 실시간 음성과 녹취록의 MFCC 계수 별 평균값을 비교한 막대 그래프입니다.
      .row.mt-4
        .col-12
          table.table.table-bordered
            thead.thead-dark
              tr
                th MFCC 계수
                each val in [1,2,3,4,5,6,7,8,9,10,11,12]
                  th= val
            tbody
              tr
                th 녹취록
                each val in [29.43, 3.66, 0.28, 0.22, -2.94, -1.06, 0.25, 0.59, 0.58, 1.14, -0.43, -0.57]
                  td= val
              tr
                th 실시간
                each val in [31.74, 2.81, 1.71, 0.64, 0.71, 0.19, -0.39, -0.20, 0.12, 0.71, 0.39, 0.74]
                  td= val

      .row.mt-4
        .col-12.text-center
                form(action="/result_forensic" method="GET")
                    button(type='submit' class="btn btn-outline-success btn-black") 이전 화면으로 가기

    footer
        p © Created By Park Sohee | Lee Keejung | Lee Seungjay
        .footer-links
          a(href="https://github.com", target="_blank") GitHub
          a(href="https://linkedin.com", target="_blank") LinkedIn
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
