extends ./layout.pug

block content
    div(class='container-fluid')
        div(class="row mt-5")
            div(class="col-md-6 m-auto text-center")
                h1(class="mt-2 text-center") 결과 보고서

                div(class="row my-4")
                    div(class="col-12")
                        p 음성 유사도: #{result.MAE_similarity}
                        p 검사 날짜: #{result.timestamp.toLocaleDateString()}

                div(class="row my-4")
                    div(class="col-12")
                        img(src=`clustering_label_${result.files_control_id}.png`, alt="Clustering graph", class="img-fluid")
                        p AI모델 학습 전, 실시간/녹취록 음성에서 추출한 MFCC 계수들을 2차원 좌표평면에 나타내고,
                          |  분포에 따라 레이블을 부여한 결과입니다.

                div(class="row my-4")
                    div(class="col-12")
                        img(src=`train_acc_loss_${result.files_control_id}.png`, alt="Train accuracy and loss graph", class="img-fluid")
                        p 훈련 횟수에 따른 모델의 오차율과 훈련 정확도를 보여줍니다.
                
                div(class="row my-4")
                    div(class="col-12")
                        img(src=`mfcc_spectrum_graph_${result.files_control_id}.png`, alt="Spectrogram of recorded and live speech", class="img-fluid")
                        P 각 프레임에 따른 MFCC 계수값들의 세기를 색깔로 표현한 스펙트럼입니다.
                
                div(class="row my-4")
                    div(class="col-12")
                        img(src=`mfcc_bar_graph_${result.files_control_id}.png`, alt="MFCC coefficients average values graph", class="img-fluid")
                        P 실시간 음성과 녹취록의 MFCC 계수 별 평균값을 비교한 막대 그래프입니다.
                        
                    //표
                table(class="table mt-2" style="width: 100%; table-layout: auto;")
                    thead
                        tr
                            th 계수
                            each num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                                th= num
                    tbody
                        tr
                            td 녹취
                            each num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                                - let value = recordAvg && recordAvg[`MFCC${num}`] ? recordAvg[`MFCC${num}`].toFixed(2) : ''
                                td= value
                        tr
                            td 실시간
                            each num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                                - let value = controlAvg && controlAvg[`MFCC${num}`] ? controlAvg[`MFCC${num}`].toFixed(2) : ''
                                td= value
                
                div 결과: #{result.live_data_prediction} (라이브 데이터), #{result.record_data_prediction} (녹음 데이터)
    br
    form(action="/dashboard" method="GET")
        button(type='submit' class="btn btn-outline-success") Back to the Dashboard
