extends ./layout2.pug

block content
    .container(style="margin-top: 60px;")
      .row.justify-content-center
        .col-md-8
          .text-center
            h1.mb-4.mt-4 AI 가수 목소리 탐지 종합 분석
            p VoiceForensic에 좋아하는 가수의 음원과 의심되는 음원을 업로드하세요.
            br
      .row.justify-content-center.result-container
        .col-md-6
          .card
            .card-body
              h3 종합 분석
              .table-responsive(style="font-size: 20px")
                table.table.table-bordered
                  thead.thead-light
                    tr
                      th(scope="col") 원본 음성 예측값
                      th(scope="col") 녹취 음성 예측값
                  tbody
                    tr
                      td #{result.live_data_prediction}
                      td #{result.record_data_prediction}
                  tfoot
                    tr
                      th(colspan="2") 유사도
                    tr
                      td(colspan="2").text-center.similarity-score #{result.ai_voice_MAE_similarity}% (#{result.ai_voice_MAE_similarity >= 95 ? "A" : result.ai_voice_MAE_similarity >= 80 ? "B" : "C"}등급)
              p.mt-3
                | 원본 가수 음성과 비교 음성의 유사도는 약 
                b #{result.ai_voice_MAE_similarity}%
                | 로, 
                b #{result.ai_voice_MAE_similarity >= 95 ? "A" : result.ai_voice_MAE_similarity >= 80 ? "B" : "C"}등급
                | 이며 
                br
                b #{result.ai_voice_MAE_similarity >= 95 ? '가수 본인의 목소리입니다.' : result.ai_voice_MAE_similarity >= 80 ? 'AI 합성가능성이 존재합니다.' : '전혀 다른 목소리입니다.'} 
                br
                | 특히, 
                strong #{des}
                br
                | 약 
                strong #{maxDifference}
                | 정도 차이 납니다.
      .row.mt-4
          .col-12.text-center
              form(action="/result_ai_singer" method="GET")
                  button(type='submit' class="btn btn-outline-success btn-black") 이전 화면으로 가기
              br
              form(action="/dashboard_ai_singer" method="GET")
                  button(type='submit' class="btn btn-outline-success btn-black") 대시보드로 돌아가기
      br
      footer.text-center
        p © Created By Park Sohee | Lee Keejung | Lee Seungjay
        .footer-links
          a(href="https://github.com")
            i(class="fab fa-github")
          a(href="https://linkedin.com", target="_blank")
            i(class="fab fa-linkedin")

    // 부트스트랩 JS 및 종속성
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    // 폰트어썸 (아이콘 사용을 위함)
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
